.mainscreen {
  text-align: center;
  align-content: center;
  width: 35%;
  margin-top: 15px;
  margin-left: 600px;
  margin-right: 250px;
  margin-bottom: 100px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.mainscreen__top {
  position: sticky;
}

.mainscreen__top > img{
  height: 100px;
}

.mainscreen__form{
  padding: 10px;
  flex-direction:row;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: white;
  width: 31%;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
} 

